/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .headerTopMenu a {
    padding: 20px 20px 15px;
  }

  .headerSocialMenu {
    margin-right: 30px;
  }

  .agency__title{
    width: 50%;
    float: right;
    padding-left: 75px;
  }
  .agency__foto {
    width: 49%;
    float: left;
  }
  .agency__content{
    width: 50%;
    float: right;
    padding-left: 75px;
  }

  .portfolioItem__img{
    width: 290px;
    height: 380px;
  }

  .portfolioItem__wrapper {
    width: 290px;
    height: 380px;
  }

  .carousel__inner-slide{
    width: 290px;
    height: 380px;
  }
  .portfolio .carousel__slider,
  .portfolio .carousel__slide {
    height: 380px;
  }

   .portfolioItem__Info{
    width: 260px;
    height: 340px;
    padding-top: 26px;
  }
  .portfolioItem__info-data{
    height: 288px;
    width: 260px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .press iframe {
    width: 960px;
  }

  .pressImg1 img{
    width: 206px; 
    height: 206px;  
  }
  .pressImg2 img{
    width: 306px;
    height: 408px;
  }
  .news .carousel__slider, 
  .news .carousel__slide, 
  .news .carousel__inner-slide {
    height: 288px;
  }
  .news__wrapper,
  .news__img{
    width: 288px;
    height: 288px;
  }

  .news__Info{
    width: 258px;
    height: 258px;
  }

  .newsHidderPosition .hidder{
     height: 288px;
     background-color: #f7f7f7;
  }

  .press iframe {
    width: 898px;
    height: 505px;
  }

  .articleImgNews{
    height: 400px;
  }

  
  .blockA img,
  .blockB img,
  .blockE img{
    width: 442px;
  }
  .blockA_one img,
  .blockB_one img{
    height: 632px;
  }
  .blockA_two img,
  .blockB_two img{
    height: 304px;
  }
  .blockD img{
    width: 904px;
  }
  .blockC img{
    width: 288px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .header{
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    height: 50px;
  }
  .headerTopMenu{
    float: none;
    display: flex;
    justify-content: space-between;
  }
  .headerTopLine {
    position: relative;
    top: 50px;
    height: 50px;
    padding: 0;
    background-color: #fff;
    border-top: 1px solid #f3f3f3;
    border-bottom: none;
  }
  .logoBlock {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 120px;
    height: 20px;
    background-size: contain;
    background-position: center center;
  }
  .headerLangSwitcher{
    position: absolute;
    float: none;
  }

  .headerLangSwitcher{
    top: -50px;
    right: 20px;
  }
  .headerSocialMenu {
    position: absolute;
    top: -48px;
    right: 100px;
    margin: 0;
  }
  
  .agency img {
    width: 100%;
  }

  .container{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .portfolioItem__img{
    width: 220px;
    height: 308px;
  }
  
  .portfolio .hidePixels{
    height: 308px;
  }

  .portfolioItem__wrapper {
    width: 220px;
    height: 308px;
  }

  .carousel__inner-slide{
    width: 220px;
    height: 308px;
  }
  .portfolio .carousel__slider,
  .portfolio .carousel__slide {
    height: 308px;
  }
   .press iframe {
    width: 728px;
  }
	.pressImg1 img{
    width: 167px; 
    height: 167px;  
  }
  .pressImg2 img{
    width: 280px;
  }
  .news .carousel__slider, 
  .news .carousel__slide, 
  .news .carousel__inner-slide {
    height: 220px;
  }
  .news__wrapper,
  .news__img{
    width: 220px;
    height: 220px;
  }
  .news__Info{
    width: 190px;
    height: 190px;
  }
  .news__info-item {
    display: table-cell;
    height: 165px;
    width: 190px;
  }

  .newsHidderPosition .hidder{
     height: 220px;
  }
  .SocialFooterMd{
    margin-left: 50%;
  }
  .socialFooter li{
    float: left;
  }
  .portfolioItem__Info{
    width: 195px;
    height: 268px;
    padding-top: 26px;
  }
  .portfolioItem__info-data{
    height: 218px;
    width: 195px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .press iframe {
    width: 700px;
    height: 393px;
  }
  .socialFooter li:first-child{
    padding-left: 0px;
  }
  .agencyPage__collage img{
    height: 682px;
  }
  .portfolioTitlePhoto{
    width: 435px;
  }
  .blockA img,
  .blockB img,
  .blockE img{
    width: 330px;
  }
  .blockA_one img,
  .blockB_one img{
    height: 475px;
  }
  .blockA_two img,
  .blockB_two img{
    height: 226px;
  }
  .blockD img{
    width: 680px;
  }
  .blockC img{
    width: 213px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .header{
    margin-bottom: 0px;
    position: fixed;
    background-color: #fff;
    z-index: 100;
  }
  .headerImgBlock{
    height: 400px;
  }
  .mobile-menu-btn {
    display: block;
  }
  .headerTopMenu{
    float: none;
    display: block;
  }
  .headerTopMenu li{
    display: block;  
  }
  .headerTopLine {
    position: relative;
    top: 50px;
    height: 410px;
    padding: 0;
    opacity: 0.95;
    background-color: #f7f7f7;
  }
  .logoBlock {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 120px;
    height: 20px;
    background-size: contain;
    background-position: center center;
  }
  .agency {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .agency h1{
    text-transform: capitalize;
  }
  .agency img {
    padding-bottom: 20px;
  }
  .headerTopMenu{
    padding-top: 30px;
    padding-left: 20px;
  }
  .headerTopMenu li {
    width: 100%;
  }
  .headerTopMenu li a{
    padding: 0;
    font-family: LatoLight;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    text-align: left;
    color: #131313;
    text-transform: capitalize;
    line-height: 32px;
  }
  .mobileTopMenuPhone{
    font-family: LatoLight;
    color: #545454;
    font-size: 13px;
    margin-top: 55px;
  }
  .headerTopMenu li.mobileTopMenuMail a{
    font-family: LatoBold;
    text-transform: none;
  }
  .mobileTopMenuMail{
    text-transform: none;
  }
  .headerSocialMenu{
    position: absolute;
    float: none;
    left: 14px;
    top: 350px;
  }
  .headerLangSwitcher{
    position: absolute;
    top: 250px;
    left: 20px;
  }
  .portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .portfolio h1{
    text-transform: capitalize;
  }
  .footer .SocialFooterMd{
    margin-left: 0;
    margin-bottom: 20px;
  }
  .footer__menu,
  .copyRight {
    display: none;
  }
  .footer__contacts a.footer__mail{
    line-height: 42px;
  }
  .carousel__inner-slide,
  .portfolioItem__wrapper,
  .portfolioItem__img{
    width: 165px;
    height: 205px;
  }
  
  .portfolio .hidePixels
  .portfolio .carousel__slider,
  .portfolio .carousel__slide {
    height: 205px;
  }
  .portfolio .carousel__slider{
    height: 205px;
  }

  .SliderButtons{
    display: none;
  }

  .portfolioItem__Info{
    width: 135px;
    height: 170px;
    padding-top: 26px;
  }
  .portfolioItem__info-data{
    height: 145px;
    width: 135px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 1.6;
  }
  .portfolio .hidePixels{
    height: 205px;
  }

  .press iframe{
    left: 0;
  }

  .press {
    position: relative;
    padding-top: 36px;
    padding-bottom: 50px;
  }

  .press img {
    width: 100%;    
    height: 100%; 
  }

  .press h1{
    text-transform: capitalize;
  }

  .press .showVideo {
    margin-top: 36px;    
    margin-bottom: 50px; 
  }

  .press .pressImg1,
  .press .pressImg2{
    margin-bottom: 20px;
  }
  .news{
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
  }
  .news .carousel__slider, 
  .news .carousel__slide, 
  .news .carousel__inner-slide{
    height: 165px;
  }
  .news h1{
    text-transform: capitalize;
  }
  .carousel__inner-slide,
  .news__wrapper,
  .news__wrapper img {
    width: 165px;
    height: 165px;
  }
  .news__Info {
    width: 135px;
    height: 135px;
  }
  .news__info-item
   {
    width: 135px;
    height: 80px;
    line-height: 1.6;
  }
  .weInInstagram {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .weInInstagram h4{
    margin-bottom: 30px;
  }
  .weInInstagram .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer__contacts {
    margin-bottom: 0;
  }
  .socialFooter{
    margin-top: 20px;
    margin-bottom: 46px;
  }
  .portfolioPage__project .container{
    padding-left: 0;
  }
  .portfolioTitlePhoto{
    float: none;
    width: 520px;
  }
  .blockA img,
  .blockB img,
  .blockE img{
    width: 250px;
  }
  .blockA_one img,
  .blockB_one img{
    height: 361px;
  }
  .blockA_two img,
  .blockB_two img{
    height: 170px;
  }
  .blockD img{
    width: 520px;
  }
  .blockC img{
    width: 160px;
  }
}

@media only screen and (max-width : 576px) {   
  .agency, .press, .news {
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio  {
    padding-left: 20px;
    overflow: hidden;
  }
  .carousel__inner-slide,
  .portfolioItem__wrapper,
  .portfolioItem__img{
    width: 205px;
    height: 275px;
  }
  .portfolioSlider{
    width: 700px;
  }
  .portfolio .hidePixels
  .portfolio .carousel__slider,
  .portfolio .carousel__slide {
    height: 275px;
  }
  .portfolio .carousel__slider{
    height: 275px;
  }
  .portfolioSlider{
    width: 700px;
  }

  .SliderButtons{
    display: none;
  }

  .portfolioItem__Info{
    width: 175px;
    height: 235px;
    padding-top: 26px;
  }
  .portfolioItem__info-data{
    height: 184px;
    width: 175px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
    
  .newsSlider{
    width: 700px;
  }
  .news .carousel__slider, 
  .news .carousel__slide, 
  .news .carousel__inner-slide{
    height: 203px;
  }
  .news h1{
    text-transform: capitalize;
  }
  .carousel__inner-slide,
  .news__wrapper,
  .news__wrapper img {
    width: 203px;
    height: 203px;
  }
  .news__Info {
    width: 173px;
    height: 173px;
  }
  .news__info-item
   {
    width: 173px;
    height: 122px;
    line-height: 1.6;
  }
  .weInInstagram {
    padding: 50px 5px;
  }
  
  .footer__contacts{
     padding-left: 20px;
     margin-bottom: 0;
  }

  .footer .socialFooter{
    padding-left: 20px;
    margin-top: 20px;
  }

  .footer__label{
    padding-left: 20px;
  }
  .portfolioPage__project .container {
    width: 480px;
  }

  .portfolio__title{
    margin-left: 10px;
  }
  .portfolioTitlePhoto{
    float: none;
    width: 460px;
  }
  .blockA img,
  .blockB img,
  .blockE img{
    width: 220px;
  }
  .blockA_one img,
  .blockB_one img{
    height: 319px;
  }
  .blockA_two img,
  .blockB_two img{
    height: 150px;
    width: 218px;
  }
  .blockA_two img:first-child,
  .blockB_two img:first-child{
    margin-bottom: 8px;
  }
  .blockD img{
    width: 460px;
  }
  .blockC img{
    width: 139px;
  }
  
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .headerImgBlock{
    height:320px;  
  }       
  
  .carousel__inner-slide,
  .portfolioItem__wrapper,
  .portfolioItem__img{
    width: 205px;
    height: 275px;
  }
  
  .portfolio .hidePixels
  .portfolio .carousel__slider,
  .portfolio .carousel__slide {
    height: 275px;
  }
  .portfolio .carousel__slider{
    height: 275px;
  }
  .portfolioSlider{
    width: 700px;
  }

  .SliderButtons{
    display: none;
  }

  .portfolioItem__Info{
    width: 175px;
    height: 235px;
    padding-top: 26px;
  }
  .portfolioItem__info-data{
    height: 184px;
    width: 175px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .portfolioPage__project .container {
    width: 320px;
  }
  .portfolioTitlePhoto{
    float: none;
    width: 300px;
  }
  .blockA img,
  .blockE img{
    width: 140px;
  }

  .blockB_one img{
    width: 146px;
    height: auto;
    margin-left: 4px;
  }
   .blockA_one img{
    width: 146px;
    height: auto;
  }
  .blockB_two img{
    width: 136px;
  }
  .blockA_two img,
  .blockB_two img{
    height: auto;
    width: 136px;
  }
  .blockA_two img:first-child,
  .blockB_two img:first-child{
    margin-bottom: 8px;
  }
  .blockD img{
    width: 300px;
  }
  .blockC img{
    width: 85px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .headerImgBlock{
    height: 320px;
  }

}


/*==========   Mobile First Method   ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}	

@media (min-aspect-ratio: 16/9) {
  #video_bg {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  #video_bg {
    width: 300%;
    left: -100%;
  }
}
@supports (object-fit: cover) {
  #video_bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}