html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html, body{
  height: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  outline: none;
}

html {
  line-height: 1; 
  font-size: 16px; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a {
  font-family: Lato;
  font-size: 1rem;
  outline: none !important; 
  text-decoration: none !important;
  color: #343841; }

img, div {
  outline: none !important;
}

p, b {
  line-height: 20px; }

input {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
::-webkit-input-placeholder {font-family: Lato, sans-serif;}
::-moz-placeholder          {font-family: Lato, sans-serif;}/* Firefox 19+ */
:-moz-placeholder           {font-family: Lato, sans-serif;}/* Firefox 18- */
:-ms-input-placeholder      {font-family: Lato, sans-serif;}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}

.clear {
  clear: both; }

.wrapper{
  position: relative;
  min-height: 101%;
  padding-bottom: 300px; }

a img {
  border: none; }
b {
  font-weight: 700; }

h1, .h1 {
  font-family: LatoLight;
  font-size: 42px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 3.5px;
  text-align: left;
  color: #131313; 
  text-transform: capitalize;
  margin-bottom: 30px;
}

h4 {
  text-transform: uppercase;
  margin-bottom: 50px;
  font-family: LatoMedium;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4px;
  color: #131313;
} 

h5 {
  font-family: LatoBold;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
  color: #131313;
}

p {
  font-family: LatoRegular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
  color: #545454;
}
/*.container {
  padding-left: 30px;
}*/
.loader {
  color: #787878; }

.handler {
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase; }

.error {
  color: #ee0000 !important; }

  /* КНопка мобильного меню*/

.mobile-menu-btn {
  display: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  float: left;
  height: 50px;
  margin-left: 10px;
  outline: 0;
  position: absolute;
  top:0;
  right: 0px;
  width: 50px;
}
button:focus {
  outline: none; 
}
.mobile-menu-btn span {
  left: 10px;
  top: 24px;
}
.mobile-menu-btn span::before {
  top: -8px;
}
.mobile-menu-btn span::after {
  bottom: -8px;
}
.mobile-menu-btn span::before, .mobile-menu-btn span::after {
  content: '';
}
.mobile-menu-btn span,
.mobile-menu-btn span::before,
.mobile-menu-btn span::after {
  display: block;
  background-color: black;
  height: 2px;
  position: absolute;
  transition: all .3s ease-in-out;
  width: 25px;
}
.mobile-menu-btn.active span {
  background-color: transparent;
}
.mobile-menu-btn.active span::before, .mobile-menu-btn.active span::after {
  background-color: black;
  top: 0;
}
.mobile-menu-btn.active span::before {
  transform: rotate(45deg);
}
.mobile-menu-btn.active span::after {
  transform: rotate(-45deg);
}
/* КОнец кнопки мобильного меню
*/

.uppercase {
  text-transform: uppercase; 
  font-family: Lato, sans-serif; }

.center {
  text-align: center; }

.headerTopLine {
  height: 50px;
  border-bottom: 1px solid #f3f3f3;
  padding-left: 13px;
  padding-right: 38px;
}
.headerTopMenu{
  float: left; 
}

.headerTopMenu li{
  float: left;
}

.headerTopMenu li a,
.headerLangSwitcher li {
  font-family: LatoRegular;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 1.8px;
  text-align: left;
  color: #939597;
  text-transform: uppercase;
}

.headerTopMenu a{
  display: block;
  padding: 20px 25px 15px;
}

.headerLangSwitcher,
.headerSocialMenu {
  float: right;
}

.headerLangSwitcher li{
  display: inline-block;
  padding: 19px 2px 13px;
}

.headerLangSwitcher li:first-child,
.headerLangSwitcher li:last-child{
  cursor: pointer;
}

.headerSocialMenu{
  margin-right: 80px;
}
.headerSocialMenu li{
  display: block;
  float: left;
  margin: 15px 5px 15px;
  height: 18px;
  cursor: pointer;
  text-align: center;
}
.socialFooter .vimeo img,
.headerSocialMenu .vimeo img{
  width: 18px;
  height: 18px;
}
.headerSocialMenu img:hover{
  fill: #131313;
  background-color: #0c0;
}
.socialFooter .youtube img,
.headerSocialMenu .youtube{
  padding-top: 3px;
}
.socialFooter .youtube img,
.headerSocialMenu .youtube img{
  width: 18px;
}
.logoBlock{
  height: 203px;
  background-image: url(../img/logo/wedo.png);
  background-image: -webkit-image-set(url(../img/logo/wedo.png) 1x, url(../img/logo/wedo@2x.png) 2x);
  background-image: -moz-image-set(url(../img/logo/wedo.png) 1x, url(../img/logo/wedo@2x.png) 2x);
  background-image: -o-image-set(url(../img/logo/wedo.png) 1x, url(../img/logo/wedo@2x.png) 2x);
  background-image: -ms-image-set(url(../img/logo/wedo.png) 1x, url(../img/logo/wedo@2x.png) 2x);
  background-repeat: no-repeat;
  background-position: center 60px;
}

.headerImgBlock{
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.agency{
  width: 1020px;
  margin: 0 auto;
  padding: 100px 15px 100px 30px;
}
.agency img {
    width: 100%;
  }
.agency__titile{
    width: 50%;
    float: right;
    padding-left: 100px;
  }
.agency__foto {
  width: 49%;
  float: left;
}
.agency__content{
  width: 50%;
  float: right;
  padding-left: 100px;
}

.portfolio,
.agency,
.news{
  padding-top: 100px;
  padding-bottom: 100px;
}

.portfolio,
.footer,
.news{
  background-color: #f7f7f7;
}

.portfolio .carousel__slider{
  height: 411px;
}

.SliderButtons{
  padding-right: 25px;
}
.SliderButtons button{
  float: right;
  margin-top: 10px;
  border: none;
  background: transparent;
} 

.carousel__next-button{
  margin-left: 20px;
}

.container {
  width: 1019px;
}

.portfolio .carousel__slide{
  height: 411px;
}

.sliderButtonsOpacityRevert{
  transform: rotate(180deg);
}
.portfolio .hidePixelsWrapper{
  position: relative;
}

.portfolio .hidePixels{
  height: 411px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  background-color: #f7f7f7; 
}
.portfolioItem__wrapper{
  width: 307px;
  height: 411px;
}

.portfolioItem__Info{
  position: absolute;
  z-index: 20;
  top: 20px;
  left: 15px;
  width: 277px;
  height: 371px;
  padding-top: 175px;
  opacity: 0.9;
  background-color: #f7f7f7;
}
.portfolioItem__info-data{
  display: block;
  margin-bottom: 140px;
  font-family: LatoSemibold;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 2px;
  text-align: center;
  color: #131313;
}
.portfolioItem__img{
  width: 307px;
  height: 411px;
}


.press {
  position: relative;
  padding-top: 86px;
  padding-bottom: 100px;
}
.press iframe {
  width: 954px;
  height: 538px;
}

.pressImg2 img{
  width: 306px;
  height: 408px;
}




.slogan {
  text-align: center;
  font-family: PlayfairDisplayItalic;
  font-size: 32px;
  line-height: 48px;
}

.showVideo {
  margin: 86px auto 100px;
}

.press__slogan-small {
  margin-top: 30px;
  font-family: PlayfairDisplayItalic;
  font-size: 18px;
  line-height: 28px;
}

.knowMore {
  display: inline-block;
  margin-top: 30px;
  font-family: LatoSemibold;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.15;
  letter-spacing: 1.9px;
  text-align: left;
  color: #131313;
}

.newsHidderPosition {
  position: relative;
}
.newsHidderPosition .hidder{
  position: absolute;
  height: 307px;
  width: 25px;
  top: 0px;
  right: 0;
  background-color: #f7f7f7;
}
.news__wrapper {
  width: 307px;
  height: 307px;
}

.news__img {
  display: inline-block;
  position: relative;
  width: 307px;
  height: 307px;
}

.news__Info {
  position: absolute;
  z-index: 20;
  top: 15px;
  left: 15px;
  width: 277px;
  height: 277px;
  padding-top: 26px;
  opacity: 0.9;
  background-color: #f7f7f7;
}

.news__info-item {
  display: table-cell;
  height: 251px;
  width: 276px;
  vertical-align: middle;
  font-family: LatoSemibold;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 2px;
  text-align: center;
  color: #131313;
}

.news__info-itemdata {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 26px;
  text-align: center;
  font-family: Lato;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #131313;
}
.news .carousel__slider,
.news .carousel__slide,
.news .carousel__inner-slide {
  height: 307px;
}
.weInInstagram{
  padding-top: 100px;
  padding-bottom: 62px;
}
.weInInstagram .container{
  padding-left: 5px;
  padding-right: 5px;
}
.weInInstagram h4 {
  text-align: center;
}
.sendMessage h4 {
  text-align: left;
 } 

.footer{
  padding-top: 50px;
}

.menuFooter__Item a{
  width: 33%;
  margin-bottom: 20px;
  float: left;
  font-family: LatoRegular;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 1.8px;
  color: #131313;
  opacity: 0.5;
  text-transform: uppercase;
}
.footer__contacts {
  margin-bottom: 33px;
  font-family: LatoRegular;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: left;
  color: #545454;
}

.footer__contacts a{
   font-family: LatoRegular;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: left;
  color: #131313;
}

.socialFooter {
  position: relative;
  padding-right: 4px;
  margin-bottom: 48px;      
}

.socialFooter li {
  display: block;
  height: 18px;
  float: right;
  padding-left: 6px;
  padding-right: 6px;
  
}

hr {
  margin: 0;
  opacity: 0.2;
  background-color: #c9c9c9;
}

.AllRightReserved,
.backToTop {
  padding: 23px 0;
  font-family: Lato;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.18;
  letter-spacing: 1.8px;
  text-align: left;
  color: #545454;
  text-transform: uppercase;
}
.AllRightReserved{
  padding-left: 15px;
}

.backToTop {
  padding-right: 8px;
  text-align: right;
  cursor: pointer;
}

.sendMessage{
  padding-bottom: 100px;
}
.sendMessage p {
  margin-bottom: 20px;
}

.sendMessage input {
  width: 398px;
  height: 46px;
  border: none;
  border-bottom:solid 1px #c9c9c9;
  margin-bottom: 30px;
  outline: none;
}


.sendMessage input[type="text"]::-webkit-input-placeholder { 
  color: #545454; 
  opacity: 0.7;
  font-family: LatoRegular; 
  font-size: 14px;  
  line-height: 2;
} 

.sendMessage input[type="text"]::-ms-input-placeholder{ 
  color: #545454; 
  opacity: 0.7;
  font-family: LatoRegular; 
  font-size: 14px;  
  line-height: 2;
} 

.sendMessage input[type="text"]:-ms-input-placeholder{ 
  color: #545454;
  opacity: 0.7; 
  font-family: LatoRegular; 
  font-size: 14px;  
  line-height: 2;
} 

.sendMessage input[type="text"]::placeholder { 
  color: #545454;
  opacity: 0.7; 
  font-family: LatoRegular; 
  font-size: 14px;  
  line-height: 2;
} 

.sendMessage textarea {
  width: 398px;
  height: 67px;
  border: none;
  border-bottom:solid 1px #c9c9c9;
  margin-bottom: 15px;
  outline: none;
  resize: none;
}
.sendMessage textarea::-webkit-input-placeholder { 
  color: #545454;
  opacity: 0.7; 
  font-family: LatoRegular; 
  font-size: 14px;  
  line-height: 2;
} 

.sendMessage textarea::-ms-input-placeholder { 
  color: #545454;
  opacity: 0.7; 
  font-family: LatoRegular; 
  font-size: 14px;  
  line-height: 2;
} 
.sendMessage textarea:-ms-input-placeholder { 
  color: #545454;
  opacity: 0.7; 
  font-family: LatoRegular; 
  font-size: 14px;  
  line-height: 2;
} 

.sendMessage textarea::placeholder { 
  color: #545454;
  opacity: 0.7; 
  font-family: LatoRegular; 
  font-size: 14px;  
  line-height: 2;
} 

.sendMessage button {
  margin: 0;
  padding: 0;
  font-family: LatoBold;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.15;
  letter-spacing: 1.9px;
  text-align: left;
  color: #131313;
  text-transform: uppercase;
  background-color: Transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.dateNews {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: LatoRegular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 1px;
  text-align: left;
  color: #545454;
}

.headerNews{
  margin-bottom: 20px;
  font-family: LatoRegular;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #131313;
}

.fullNews {
  font-family: LatoRegular;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 1px;
  text-align: left;
  color: #131313;
}

.linkToNews {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 30px;
  font-family: "LatoBold";
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.15;
  letter-spacing: 1.9px;
  text-align: left;
  color: #131313;
}

.borderNews{
  background-color: #131313;
  margin-top: 70px;
  margin-bottom: 70px;
}

.newsList li:last-child .borderNews{
  display: none;
}

.newsList .showMore,
.pressList .showMore{
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "LatoBold";
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.15;
  letter-spacing: 2px;
  color: #131313;
  text-transform: uppercase;
  cursor: pointer;
}
.articleImgNews{
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.articleDate {
  margin-top: 50px;
  margin-bottom: 20px;  
  font-family: LatoRegular;
  font-size: 13px;
  font-stretch: normal;
  line-height: 2.15;
  letter-spacing: 2px;
  text-align: center;
  color: #131313;
}

.articleTitle{
  font-family: "LatoLight";
  margin-bottom: 30px;
  font-size: 28px; 
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 2px;
  text-align: center;
  color: #131313;
}

.articleContent,
.articleContent p{
  font-family: LatoRegular;
  margin-bottom: 72px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 1px;
  text-align: left;
  color: #545454;
}

.articleContent strong {
  font-family: LatoBold;
}
.newsBodyImg{
  width: 960px;
}

.afterImg {
  margin-top: 30px;
}
.articleContent p {
  margin-bottom: 30px;
}

.articleContent h2{
  font-family: PlayfairDisplayItalic;
  margin-top: 20px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #131313;
}

.linkToAllNews {
  display: inline-block;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 100px;
  text-align: center;
  text-transform: uppercase;
  font-family: LatoBold;
  font-size: 13px;
  font-weight: 500;
  line-height: 2.15;
  letter-spacing: 2px;
  color: #131313;
}

.articlePage h1 {
  text-transform: none;
}

.articlePage .sign{
  margin-top: 16px;
  font-family: PlayfairDisplayItalic;
  font-size: 16px;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #131313;
}

.pressList .pressItem {
  width: 304px;
  height: 408px;
  position: relative;
  float: left;
  margin: 10px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.pressList .pressItem__Inner{
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0.9;
  background-color: #f7f7f7;
  z-index: 20px;
  width: 274px;
  height: 378px;
}

.pressList .pressItem__Inner-title{
  display: table-cell;
  height: 331px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  font-family: LatoSemibold;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 2px;
  color: #131313;
}


.pressList .pressItem__Inner-date{
  font-family: LatoLight;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.55;
  letter-spacing: 2px;
  text-align: center;
  color: #131313;
}

.pressPage .foto{
  height: 627px;
  width: 470px;
  background-size: cover;
  background-repeat: no-repeat;
}

.pressPage .info {
  margin-top: 100px;  
  font-family: LatoLight;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.15;
  letter-spacing: 2px;
  text-align: left;
  color: #131313;
}

.pressPage .header {
  margin-top: 20px;
  margin-bottom: 30px; 
  font-family: LatoLight;
  line-height: 1.29;
  font-size: 28px;
}

.pressPage .content {
  font-family: LatoLight;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 1px;
  text-align: left;
  color: #545454;
}

.pressPage .linkToAllNews {
  margin-top: 80px;
  margin-bottom: 90px;
}

.portfolioList h1{
  text-align: center;
}
.portfolio__containerItems{
  width: 100%;
}
.portfolio__containerItems li{
  float: left;
}
.portfolioList .portfolioList__item {
  /*display: inline-block;*/
  position: relative;
  width: 290px;
  height: 380px;
  float: left;
  margin: 10px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.portfolioList .portfolioListItem__Info{
  position: absolute;
  top: 20px;
  left: 15px;
  opacity: 0.9;
  background-color: #f7f7f7;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 30px);
  height: calc(100% - 40px);
  justify-content: center;
  align-items: center;
}

.portfolioList .portfolioItem__info-data{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% ;
  height: 100%;
}

.portfolioList .showMore{
  margin-top: 100px;
  font-family: "LatoBold";
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.15;
  letter-spacing: 2px;
  color: #131313;
  text-transform: uppercase;
  cursor: pointer;
}

.portfolioPage__project .container{
  padding-left: 20px;
}
.portfolioPage__project .content {
  width: 304px;
  float: left;
  margin-left: 10px;
  font-family: LatoRegular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
  color: #545454;
}

.portfolioPage__project .content h1{
  text-transform: none;
}
.portfolioPage__project .content p{
  font-family: LatoRegular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
  color: #545454;
}

.portfolioPage__project img{
  margin: 10px; 
}
.portfolioTitlePhoto{
  float: right;
}
.blockA img,
.blockB img,
.blockE img{
  width: 470px;
}
.blockC img{
  width: 306px;
}

.anim-appear {
  opacity: 0.01;
}
 
.anim-appear.anim-appear-active{
  opacity: 2;
  transition: opacity 2s linear;
}

.awards__Item {
  width: 306px;
  height: 400px;
  margin: 10px;
  padding-top: 50px;
  background-color: #fff;
}

.awards__Item-Background{
  width: 100%;
  height: 198px;
  margin-bottom: 50px;
  -webkit-background-size: cover;
  background-size: contain;
  background-position: center, center;
  background-repeat: no-repeat;
}

.awards__Item-content {
  margin-bottom: 10px;
  font-family: LatoRegular;
  font-size: 11px;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 2px;
  text-align: center;
  color: #545454;
  text-transform: uppercase;
}

.awards__Item-title{
  font-family: LatoSemibold;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #131313;
}

.marginLeft10px{
  margin-left: 10px;
}
.agencyInfo{
  font-family: LatoRegular;
   font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1px;
    text-align: left;
    color: #545454;
}
.articlePage .collage{
  height: 1050px;
}

.agencyPage__collage img{
    height: 800px;
}

.articlePage{
  margin-bottom: 100px;
}
.video_bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}

.embed-responsive-9by16{
  padding-bottom: 200%;
}








